
/* FOOTER */
footer {
    display: flex;
    padding: 50px 30px;
    height: 280px;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}

.col1 {
    flex: 1;
    color: white;
    padding: 10px 0px;
    margin-left: 50px;

    img {
        height: 50px;
    }

    div {
        display: flex;
        line-height: 30px;
        padding: 5px 0px;

        i {
            padding-top: 8px;
        }

        p {
            font-size: 12px;
            padding-left: 10px;
        }
    }
}

.col23 {
    flex: 2;
    color: white;
    display: flex;
    justify-content: space-around;

    li {
        padding: 0px 10px;
        font-weight: bold;
        font-size: 15px;
    }

    ul li {
        line-height: 35px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
}

.col4 {
    flex: 1;
    text-align: center;

    img {
        width: 280px;
    }
}

/* Sản phẩm */
.row {
    display: flex;
    flex-wrap: wrap;
}

.app-container {
    padding: 100px 0 0;
}

.cartegory-top {
    margin-bottom: 10px;
    padding: 10px 0px;
    font-size: 15px;
}

.cartegory-top p {
    padding: 0px 10px;
}

.about-us {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .info {
        font-size: 20px;
        width: 70%;
        padding-bottom: 30px;
    }

    img {
        width: 40%;
    }
}

/* Email discount */
.email-discount {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;

    .title {
        font-size: 20px;
        font-weight: bolder;
        margin: 20px 0;
    }

    .input-discount {
        margin: 20px 0px;
        margin-top: 0px;

        input {
            height: 40px;
            width: 25%;
            padding: 5px 10px;
        }

        button {
            height: 40px;
            width: 12%;
            border: 1px solid black;
            background-color: black;
            color: white;
            font-size: 14px;
            font-weight: bold;

            &:hover {
                background-color: #333;
                color: white;
            }
        }
    }
}